*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #000;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.loader-3 {
  width: 40rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.circle {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: relative;
}

.circle:nth-child(1) {
  background-color: #90be6d;
}
.circle:nth-child(2) {
  background-color: #f9c74f;
}
.circle:nth-child(3) {
  background-color: #f8961e;
}
.circle:nth-child(4) {
  background-color: #f3722c;
}
.circle:nth-child(5) {
  background-color: #f94346;
}

.circle::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
  animation: animateLoader3 2s ease-out infinite;
}

.circle:nth-child(1)::before {
  background-color: #90be6d;
}
.circle:nth-child(2)::before {
  background-color: #f9c74f;
  animation-delay: 0.2s;
}
.circle:nth-child(3)::before {
  background-color: #f8961e;
  animation-delay: 0.4s;
}
.circle:nth-child(4)::before {
  background-color: #f3722c;
  animation-delay: 0.6s;
}
.circle:nth-child(5)::before {
  background-color: #f94346;
  animation-delay: 0.8s;
}

@keyframes animateLoader3 {
  0% {
    transform: scale(1);
  }

  50%,
  75% {
    transform: scale(2.5);
  }

  80%,
  100% {
    opacity: 0;
  }
}
