body {
  background: #000000;
}

.container {
  width: 200px;
  height: 60px;
  margin: auto;
  margin-top: 40%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}

.ball {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  left: 15%;
  animation: ball 0.5s alternate infinite ease;
}

@keyframes ball {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
    background-color: #ff3ea5ff;
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
    background-color: #edff00ff;
  }

  100% {
    top: 0%;
    background-color: #00a4ccff;
  }
}

.ball:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.ball:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

/*for shadow*/

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: #ffffff59;
  position: absolute;
  top: 62px;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow 0.5s alternate infinite ease;
}

@keyframes shadow {
  0% {
    transform: scaleX(1.5);
    background-color: #ff3ea56b;
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
    background-color: #edff0066;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
    background-color: #00a4cc6b;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
