body {
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.breeding-rhombus-spinner {
  height: 65px;
  width: 65px;
  position: relative;
  transform: rotate(45deg);
}

.breeding-rhombus-spinner,
.breeding-rhombus-spinner * {
  box-sizing: border-box;
}

.breeding-rhombus-spinner .rhombus {
  height: calc(65px / 7.5);
  width: calc(65px / 7.5);
  border-radius: 50%;
  animation-duration: 2000ms;
  top: calc(65px / 2.3077);
  left: calc(65px / 2.3077);
  background-color: #ff1d5e;
  position: absolute;
  animation-iteration-count: infinite;
}

.breeding-rhombus-spinner .rhombus:nth-child(2n + 0) {
  margin-right: 0;
}

.breeding-rhombus-spinner .rhombus.child-1 {
  animation-name: spinner-child-1;
  animation-delay: calc(100ms * 1);
}

.breeding-rhombus-spinner .rhombus.child-2 {
  animation-name: spinner-child-2;
  animation-delay: calc(100ms * 2);
}

.breeding-rhombus-spinner .rhombus.child-3 {
  animation-name: spinner-child-3;
  animation-delay: calc(100ms * 3);
}

.breeding-rhombus-spinner .rhombus.child-4 {
  animation-name: spinner-child-4;
  animation-delay: calc(100ms * 4);
}

.breeding-rhombus-spinner .rhombus.child-5 {
  animation-name: spinner-child-5;
  animation-delay: calc(100ms * 5);
}

.breeding-rhombus-spinner .rhombus.child-6 {
  animation-name: spinner-child-6;
  animation-delay: calc(100ms * 6);
}

.breeding-rhombus-spinner .rhombus.child-7 {
  animation-name: spinner-child-7;
  animation-delay: calc(100ms * 7);
}

.breeding-rhombus-spinner .rhombus.child-8 {
  animation-name: spinner-child-8;
  animation-delay: calc(100ms * 8);
}

.breeding-rhombus-spinner .rhombus.big {
  height: calc(65px / 3);
  width: calc(65px / 3);
  animation-duration: 2000ms;
  top: calc(65px / 3);
  left: calc(65px / 3);
  background-color: #ff1d5e;
  animation: spinner-child-big 2s infinite;
  animation-delay: 0.5s;
}

@keyframes spinner-child-1 {
  50% {
    transform: translate(-325%, -325%);
  }
}

@keyframes spinner-child-2 {
  50% {
    transform: translate(0, -325%);
  }
}

@keyframes spinner-child-3 {
  50% {
    transform: translate(325%, -325%);
  }
}

@keyframes spinner-child-4 {
  50% {
    transform: translate(325%, 0);
  }
}

@keyframes spinner-child-5 {
  50% {
    transform: translate(325%, 325%);
  }
}

@keyframes spinner-child-6 {
  50% {
    transform: translate(0, 325%);
  }
}

@keyframes spinner-child-7 {
  50% {
    transform: translate(-325%, 325%);
  }
}

@keyframes spinner-child-8 {
  50% {
    transform: translate(-325%, 0);
  }
}

@keyframes spinner-child-big {
  50% {
    transform: scale(0.5);
  }
}
